//----------------------------------*\
// CONFIG MODULES
//----------------------------------*/

// Config modules
@import 'modules/_vars';
@import 'modules/_clearfix';
@import 'modules/_defaults';

//----------------------------------*\
// PARTIALS
//----------------------------------*/

@import 'partials/_header';
@import 'partials/_main';
@import 'partials/_footer';

//----------------------------------*\
// OBJECTS & MODULES
//----------------------------------*/

@import 'modules/_buttons';
@import 'modules/_inputs';
@import 'modules/_lists';
@import 'modules/_typography';
@import 'modules/_misc';
@import 'modules/_app';

// Enhancement modules
@import 'modules/_breakpoints';
@import 'modules/_print';

//----------------------------------*\
// VENDOR
//----------------------------------*/

@import 'vendor/normalize';
